.theMenuForPc {
  background-color: $main-white;
  box-shadow: 0 0 10px rgb(18 18 18 / 16%);
  height: 500px; //仮
  opacity: 0%;
  padding: 16px;
  transition: 0.5s;
  visibility: hidden;
  width: 600px;
  z-index: 1;

  &.Show {
    opacity: 100%;
    visibility: visible;
  }

  > .link {
    text-decoration: none;
    display: block;
    padding: 16px;
    color: $main-blue;
    transition: 0.3s;
  }
  > .link:hover {
    background-color: $hover-fray;
  }
}
