.theMenuForPc {
  position: fixed;
  top: 60px; // header分
  right: 0;
  width: 600px;
  height: 500px; //仮
  box-shadow: 0 0 10px rgba(18, 18, 18, 0.16);
  padding: 16px;
  z-index: 1;
  background-color: $main-white;
}
