.theMenuForSp {
  background-color: $main-white;
  box-shadow: none;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: 0.3s;
  width: 304px;
  z-index: 4;

  &.Show {
    transform: translate(0);
  }
}
