.theMenuForSp {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 304px;
  height: 100vh;
  overflow-y: scroll;
  box-shadow: none;
  transform: translateX(100%);

  &.Show {
    transform: translate(0);
  }
}
