.theMenuForSp {
  background-color: $main-white;
  box-shadow: none;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: 0.3s;
  width: 304px;
  z-index: 4;

  &.Show {
    transform: translate(0);
  }

  > .link {
    color: $main-blue;
    display: block;
    padding: 16px 24px;
    text-decoration: none;
  }
}
