.appModal {
  > .body {
    background-color: $main-white;
    border-radius: 3px;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 16px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
  }

  > .body > .close {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    margin-left: auto;
    outline: none;
    padding: 10px;
  }

  > .body > .content {
    background-color: $main-white;
    z-index: 4;
  }

  > .body > .content.Scroll {
    height: calc(100% - 79px);
    overflow-y: scroll;
  }

  .mask {
    background-color: rgb(80 80 80 / 60%);
    display: none;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 4;
  }

  > .mask.Show {
    display: block;
  }
}
