.searchInput {
  position: relative;

  > .input {
    border: 1px solid $lite-gray;
    border-radius: 30px 0 0 30px;
    display: block;
    font-size: 1.6rem;
    height: 100%;
    outline: none;
    padding: 16px;
    padding-left: 63px;
    width: 100%;

    @include respond(tab-port) {
      padding: 12px;
      padding-left: 40px;
    }
  }

  > .icon {
    bottom: 0;
    left: 24px;
    margin: auto;
    position: absolute;
    top: 0;

    @include respond(tab-port) {
      left: 12px;
    }
  }
}
