.aboutPage {
  > .mv {
    height: calc(100vh - 60px);
    margin-bottom: 160px;
    position: relative;
    width: 100%;
  }

  > .mv > .mask {
    background-color: rgb(80 80 80 / 20%);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  > .mv > .title {
    bottom: 20%;
    color: $main-blue;
    font-size: 4.5vw;
    position: absolute;
    right: 5%;
    text-shadow: 1px 2px 18px rgb(0 0 0 / 10%);

    @include respond(tab-port) {
      bottom: auto;
      font-size: 4.5vh;
      right: 0;
      text-shadow: 1px 2px 18px rgb(255 255 255 / 70%);
      top: 30%;
    }
  }

  > .mv > .image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  > .description {
    margin: 0 auto;
    margin-bottom: 64px;
    max-width: 768px;
    text-align: center;

    @include respond(tab-port) {
      padding: 0 16px;
    }
  }

  > .description > .title {
    font-size: 4.5rem;

    @include respond(tab-port) {
      font-size: 2rem;
    }
  }

  > .description > .text {
    font-size: 2.5rem;
    margin-bottom: 16px;

    @include respond(tab-port) {
      font-size: 1.6rem;
    }
  }

  > .subdescription {
    margin: 0 auto;
    margin-bottom: 160px;
    max-width: 768px;
    text-align: center;

    @include respond(tab-port) {
      padding: 0 16px;
    }
  }

  > .subdescription > .text {
    font-size: 2.5rem;
    margin-bottom: 16px;

    @include respond(tab-port) {
      font-size: 1.6rem;
    }
  }

  > .forte {
    margin: 0 auto;
    max-width: 768px;
  }

  > .forte > .grid {
    column-gap: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 96px;
    padding: 16px;

    // TODO: いったん消しているがレイアウトを考えたい
    @include respond(phone) {
      display: block;
    }
  }

  > .forte > .grid > .left > .title {
    font-size: 3rem;
    margin-bottom: 16px;

    @include respond(tab-port) {
      font-size: 1.8rem;
    }
  }

  > .forte > .grid > .left > .text {
    font-size: 2rem;

    @include respond(tab-port) {
      font-size: 1.6rem;
    }
  }

  > .forte > .grid > .left > .icon {
    margin-left: -100px;
    margin-top: 80px;

    @include respond(tab-port) {
      margin-left: -50px;
      margin-top: 64px;
    }
    // TODO: いったん消しているがレイアウトを考えたい
    @include respond(phone) {
      display: none;
    }
  }

  > .forte > .grid > .right > .title {
    font-size: 3rem;
    margin-bottom: 16px;

    @include respond(tab-port) {
      font-size: 1.8rem;
    }
  }

  > .forte > .grid > .right > .text {
    font-size: 2rem;

    @include respond(tab-port) {
      font-size: 1.6rem;
    }
  }

  > .forte > .grid > .right > .icon {
    margin-right: -100px;
    margin-top: 80px;

    @include respond(tab-port) {
      margin-right: auto;
      margin-top: 64px;
    }

    // TODO: いったん消しているがレイアウトを考えたい
    @include respond(phone) {
      display: none;
    }
  }
}
