.layoutContainer {
  padding-top: 60px;

  > .inner {
    margin: 0 auto;
    max-width: 832px;
    min-height: 100vh;
    padding: 0 32px;
  }

  .mask {
    background-color: rgb(80 80 80 / 60%);
    display: none;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  > .mask.Show {
    display: block;
  }
}
