.topPage {
  margin-bottom: 16px;

  @include respond(tab-port) {
    padding-top: 24px;
  }

  > .mv {
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
    border-bottom: 1px solid #000;
  }

  > .mv > .slider {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  > .mv > .search {
    position: absolute;
    top: -10%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 110px;
    max-width: 832px;
  }
}
