.theHeader {
  align-items: center;
  background-color: $main-white;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  > .wrap {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
  }

  > .wrap > .logo {
    margin-left: 30px;

    @include respond(tab-port) {
      margin-left: 20px;
    }
  }

  > .wrap > .menu {
    background-color: $main-white;
    cursor: pointer;
    height: 100%;
    padding: 0 15px;
    transition: 0.3s;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > .wrap > .menu:hover {
    background-color: $dark-white;

    @include respond(tab-port) {
      background-color: $main-white;
    }
  }
}
