.topPageModalInner {
  margin: 0 auto;
  width: 420px;

  @include respond(tab-port) {
    max-width: 360px;
    width: 100%;
  }

  > .beautician {
    font-size: 2.5rem;
    margin-bottom: 16px;
  }

  > .linkbutton {
    padding: 8px;
    color: $main-white;
    margin-bottom: 24px;
  }

  > .imagewrap {
    margin-bottom: 64px;
  }

  > .imagewrap > .image {
    height: 250px;
    object-fit: cover;
    width: 100%;

    @include respond(tab-port) {
      height: 150px;
    }
  }

  // > .imagewrap > .description {
  // }
}
