.topPageModalInner {
  margin: 0 auto;
  width: 420px;

  @include respond(tab-port) {
    max-width: 360px;
    width: 100%;
  }

  > .beautician {
    font-size: 2.5rem;
    margin-bottom: 16px;
  }

  > .linkbutton {
    padding: 8px;
    color: $main-white;
    margin-bottom: 24px;
  }

  > .imagewrap {
    margin-bottom: 8px;
  }

  > .imagewrap > .image {
    height: 250px;
    object-fit: cover;
    width: 100%;

    @include respond(tab-port) {
      height: 150px;
    }
  }

  > .showmore {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: $main-blue;
    margin: 0 auto;
    display: block;
    padding: 8px 0;
    margin-bottom: 16px;
  }

  > .mores {
    transition: 0.3s;
    overflow: hidden;
    height: 0;
  }

  > .mores.Show {
    height: auto; // TODO: アニメーションを効かせたい
  }

  > .mores > .imagewrap {
    margin-bottom: 64px;
  }

  > .mores > .imagewrap:last-of-type {
    margin-bottom: 16px;
  }

  > .mores > .imagewrap > .image {
    height: 250px;
    object-fit: cover;
    width: 100%;

    @include respond(tab-port) {
      height: 150px;
    }
  }
}
