.topPageModal {
  height: 60vh;
  width: 560px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: auto;

  @include respond(tab-port) {
    height: 85vh;
    width: 90%;
  }

  > .beautician {
    font-size: 2rem;
  }
}
