//レスポンシブ用 メディアクエリ定義
@mixin respond($breakpoint) {
  @if $breakpoint == phone-s {
    @media only screen and (max-width: 320px) {
      @content;
    }
  }

  @if $breakpoint == phone {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }
}

// 共通口コミカード用
@mixin reviews-card-point1 {
  @media (max-width: (900px)) {
    @content;
  }
}

// LP用　メディアクエリ定義
$sp-mini: 320px;
$sp: 767px;
$tab: 768px;
$pc-mini: 1024px;

@mixin sp-mini {
  @media (max-width: ($sp-mini)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin pc {
  @media (min-width: ($tab)) {
    @content;
  }
}
@mixin pc-mini {
  @media (max-width: ($pc-mini)) {
    @content;
  }
}
